/vendor/
/node_modules/
/public/storage
/storage/*.key
.env

.phpunit.result.cache
Homestead.yaml
Homestead.json
/.idea
/.vscode
.phpstorm.meta.php
/public/hot
/public/mix-manifest.json
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
